faiss-cpu
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.179.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0

h11==0.16.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1

langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langchain-faiss==0.1.1
langchain-google-genai==2.0.10
langchain-text-splitters==0.3.9
langsmith==0.4.17
numpy==2.3.2
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
streamlit==1.48.1
threadpoolctl==3.6.0
tiktoken==0.11.0
tokenizers==0.21.4
urllib3==2.5.0
websocket-client==1.8.0
websockets==15.0.1
youtube-transcript-api==1.2.2

